<header class="container">
  <nav>
    <ul class="nav-list">
      <li>
        <a class="nav-link" href="">News</a>
      </li>

      <li>
        <a class="nav-link" href="">
          <svg height="20px" width="20px">
            <use xlink:href="./images/icon-sprites.svg#bx_search" />
          </svg>
        </a>
      </li>

      <li>
        <a class="nav-link" href="">
          <svg height="24px" width="24px">
            <use xlink:href="./images/icon-sprites.svg#bx_search" />
          </svg>
        </a>
      </li>
    </ul>
  </nav>

  <div>
    <button type="button">Briefing
      <svg height="14px" width="14px">
        <use xlink:href="./images/icon-sprites.svg#Frame-11" />
      </svg>
    </button>

    <button type="button">
      <svg height="19px" width="19px">
        <use xlink:href="./images/icon-sprites.svg#Frame" />
      </svg>
    </button>
  </div>

  <h1 class="header__title">We haven’t found news from this category</h1>

  <img src="./images/img-home.png" alt="">
</header>